<p>
    Not all of the elements are important. What you need to do here is to remove all of the elements after the given one from {% if is_js %}Array{% else %}list{% endif %}.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p>

<p>
    For illustration, we have {% if is_js %}an Array{% else %}a list{% endif %} <b class="code">[1, 2, 3, 4, 5]</b> and we need to remove all the elements that go after <b class="code">3</b> - which is <b class="code">4</b> and <b class="code">5</b>.
</p>

<p>
	We have two edge cases here:
    <ul>
        <li>if a cutting element cannot be found, then the {% if is_js %}Array{% else %}list{% endif %} shouldn't be changed;</li>
        <li>if the {% if is_js %}Array{% else %}list{% endif %} is empty, then it should remains empty.</li>
    </ul>
</p>


<p>
    <strong>Input:</strong> {% if is_js %}Array of numbers{% else %}List of integers{% endif %} and the border element {% if is_js %}number{% else %}integer{% endif %}.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}Array of numbers{% else %}List or other Iterable (tuple, iterator, generator ...) of integers{% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
