<p>
    Not all of the elements are important. What you need to do here is to remove all of the elements after the given one from {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %}.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p>

<p>
    For illustration, we have an {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} [1, 2, 3, 4, 5] and we need to remove all the elements that go after 3 - which is 4 and 5.
</p>

<p>
	We have two edge cases here: (1) if a cutting element cannot be found, then the {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} shouldn't be changed; (2) if the {% if interpreter.slug == "js-node" %}array{% else %}list{% endif %} is empty, then it should remain empty.
</p>


<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}List{% endif %} and the border element.
</p>

<p>
    <strong>Output: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}Iterable (tuple, list, iterator ...){% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">removeAllAfter([1, 2, 3, 4, 5], 3) == [1, 2, 3]
removeAllAfter([1, 1, 2, 2, 3, 3], 2) == [1, 1, 2]
</pre>
{% else %}
<pre class="brush: python">remove_all_after([1, 2, 3, 4, 5], 3) == [1, 2, 3]
remove_all_after([1, 1, 2, 2, 3, 3], 2) == [1, 1, 2]
</pre>
{% endif %}
</div>
